.navbar {
    background-color: $yellow !important;
}

.card-header {
    background-color: $yellow !important;
}

.form-control {
    &:active {
        border-color: $red !important;
    }
    &:focus {
        border-color: $red !important;
    }
}

.card {
    a {
        color: $orange !important;
    }
}

.card-img-top {
    width: 40px !important;
}

.card-header {
    background-color: $beer !important;
    color: $white !important;
}
